body{
	margin: 0px;
	padding: 0px;
	background-color: rgb(0,0,0,0.8);
}

h1{
	color: rgb(0, 250, 250);
}

.navbar-item {
	color: white;
	padding: 1em;
}

.center {
	text-align:center;
	align-content: center;
	justify-content: center;
}

.indent {
	margin-left: 30px;
}

.container {
	padding-top: 1em;
	padding-bottom: 1em;
}

.container a:hover {
	background-color: rgba(0,0,0,0.4);
	border-radius: 10%;
	opacity: .6;
	font-size: 1.1em;

	animation-name: bold_tab;
	animation-duration: 0.5s;
}


footer{
	padding-top: 1em;
	padding-bottom: 2em;
}


#projects {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}

.scripts {
	padding: 3em;
	margin: 1em;
	background-color: lightgrey;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.scripts:hover {
		padding: 3.1em;
		margin:  1.1em;
		background-color: rgb(192,192,192);

		animation-name: bold_project;
		animation-duration: 0.5s;
}

@keyframes bold_project {
	from{
		padding: 3em;
		margin:  1em;
		background-color: rgb(211,211,211);
	}
	to {
		padding: 3.1em;
		margin:  1.1em;
		background-color: rgb(192,192,192);
	}
}

@keyframes bold_tab {
	from {
		background-color: rgb(255,255,255);
		font-size: 1em;
	}
	to {
		background-color: rgba(0,0,0,0.4);
		font-size: 1.1em;
	}
}