body{
	padding: 0;
	margin: 0;
	justify-content: center;

	background: linear-gradient(to top right, rgb(0, 255, 153) 0%, rgb(0, 255, 255) 100%);
}

a {
	position: absolute;
	top: 5%;
	right: 5%;
}

.calculator-grid {

	display: grid;
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: minmax(100px, auto) repeat(5, 100px);

	justify-content: center;
	align-items: center;
	text-align: center;

	margin: 0px;

}

.calculator-grid > div{
	background-color: white; 
	border: 2px solid black; 
	display: block-flex;

	text-align: right;
	margin-top: 5em;
	padding-top:10px;

	width: 315px;
	height: 100px;
}

.previous-operand {
	font-size: 1.3em;
}

.current-operand {
	font-size: 2em;
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2em;
}

#one {
	grid-column-start: 1;
}

#submit{background-color: lightgreen;}
#clear{background-color: pink;}
#addition, #subtract, #multiply, #divide{background-color: lightblue;}