:root {
	--calculator-width: 360px;
	--calculator-height:  450px;
	--key-dimension: 90px;
}

body{
	padding: 0;
	margin: auto;
	background: linear-gradient(to top right,  rgb(71, 107, 107) 0%, rgb(51, 77, 77)
 100%);
}

a {
	position: absolute;
	font-size: 24px;
	top: 8px;
  	right: 16px;
  	color: white;
}

.container {
	padding: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator-grid {

	padding: 2.5em;
	background-color: rgb(150,150,150, 0.4);
	

	width: var(--calculator-width);
	height: var(--calculator-height);
	margin: 0px;
}

.answer {
	background-color: white;
	border: 2px solid black;
	min-height: var(--key-dimension);
}

.answer > div {
	padding:8px;
}

.keys{
	display: grid;
	grid-template-columns: repeat(4, var(--key-dimension));
	grid-template-rows: minmax(var(--key-dimension), auto) repeat(3, var(--key-dimension));

	text-align: right;

	width: var(--calculator-width);
	height: var(--calculator-width);
}

.previous-operand {
	font-size: 1.3em;
	color: rgb(0,0,0, 0.5); 
}

.current-operand {
	font-size: 1.85em;
	color: rgb(0,0,0); 
}

.keys > button {
	cursor: pointer;
	font-size: 1.5em;
	border: 1px solid black;

}

button {
	border-radius: 3%;
	border: 3px solid black;
}

/* =----=----Animation button colors----=----= */

button[data-number] {background-color: rgb(245, 245, 245, 0.8);}
#submit{background-color: rgb(144, 238, 144);}
#clear{background-color: rgb(255, 192, 203);}
#add, #sub, #mul, #div{background-color: rgb(102, 204, 255, 0.8);}

/* =----=----Animations hover section----=----= */

button[data-number]:hover {
	background-color: rgb(245, 245, 245, 1);
	animation-name: highlight_number;
	animation-duration: 0.2s;
}
#submit:hover {
	background-color: rgb(79, 227, 79, 0.5);
	animation-name: highlight_equals;
	animation-duration: 0.2s;
}
#clear:hover {
	background-color: rgb(255, 77, 77, 0.8);
	animation-name: highlight_clear;
	animation-duration: 0.2s;
}
#add:hover, #sub:hover, #mul:hover, #div:hover {
	background-color: rgb(153, 221, 255, 1);
	animation-name: highlight_operation;
	animation-duration: 0.2s;
}

/* =----=----Animation Active State----=----= */

button[data-number]:active {background-color: rgb(245, 245, 245, 0.6);}
#submit:active {background-color: rgb(144, 238, 144, 0.2);}
#clear:active {background-color: rgb(255, 77, 77, 0.5);}
#add:active, #sub:active, #mul:active, #div:active {
	background-color: rgb(200, 204, 255, 0.6);
}

/* =----=----highlight keyframes----=----= */

@keyframes highlight_number {
	from {background-color: rgb(245, 245, 245, 0.8);} 
	to {background-color: rgb(245, 245, 245, 1);}
}

@keyframes highlight_operation {
	from {background-color: rgb(102, 204, 255, 0.8);} 
	to {background-color: rgb(153, 221, 255, 1);}
}

@keyframes highlight_equals {
	from {background-color: rgb(144, 238, 144, 0.8);} 
	to {background-color: rgb(79, 227, 79, 0.5);}
}

@keyframes highlight_clear {
	from {background-color: rgb(255, 192, 203, 0.8);} 
	to {background-color: rgb(255, 77, 77, 0.8);}
}