:root {
	--calculator-width: 320px;
	--calculator-height:  400px;
	--key-height: 80px;
	--key-width: 80px;
}

body{
	padding: 0;
	margin: 0;
	background: linear-gradient(to top right, rgb(0, 255, 153) 0%, rgb(0, 255, 255) 100%);
}

a {
	position: absolute;
	font-size: 24px;
	top: 8px;
  	right: 16px;
}

.container {
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calculator-grid {

	padding: 1em;
	background-color: rgb(150,150,150, 0.3);
	

	width: var(--calculator-width);
	height: var(--calculator-height);
	margin: 0px;
}

.answer {
	background-color: white;
	border: 2px solid black;
	min-height: 80px;
}

.answer > div {
	padding:10px;
}

.keys{
	display: grid;
	grid-template-columns: repeat(4, var(--key-width));
	grid-template-rows: minmax(var(--key-height), auto) repeat(3, var(--key-height));

	text-align: right;

	width: var(--calculator-width);
	height: 320px;
}

.previous-operand {
	font-size: 1.2em;
	color: rgb(0,0,0, 0.5); 
}

.current-operand {
	font-size: 1.7em;
	color: rgb(0,0,0); 
}

.keys > button {
	cursor: pointer;
	font-size: 1.5em;
	border: 1px solid black;

}


#submit{background-color: lightgreen;}
#clear{background-color: pink;}
#add, #sub, #mul, #div{background-color: rgb(102, 204, 255);}