:root {
	--dark-grey: rgb(64, 69, 89, 0.8);
	--light-white: rgb(230, 230, 230);
}

body {
	margin: 0;
	padding:  0;
	background-color: var(--dark-grey);
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 5%;
}

.paragraph {
	margin: 5%;
}

.topics-section {
	background-color: #f3f3f3;
	text-align: center;

	border: 1px solid;
	box-shadow: 3px 5px 15px;
	border-radius: 2%;

	padding: 2%;
	margin: 2%;
}

.topics-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.container {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: space-around;
	
	color: white;
	background-color: rgb(51, 51, 51, 0.8);

	border: 1px solid;
	box-shadow: 3px 5px 15px;
	border-radius: 2%;

	margin: 2%;
	padding: 2%;
	width: 30%;
	height: 10%;

	transition: background-color, margin, padding, width, height;
	transition-duration: 1s;
}

.container:hover {
	background-color: rgb(51, 51, 51, 0.55);

	margin: 4%;
	padding: 2%;
	width: 32%;
	height: 12%;
}

.html, .css, .javascript, .java, .sql, .data-structures-algorithms {
	font-size: 5em;
	background-color: #f3f3f3;
	width: 20%;
	padding: 5%;

	display: flex;
	justify-content: center;
}

.html {
	background-image: linear-gradient(to right, rgb(255, 51, 0), rgb(255, 128, 0));
}

.css {
	background-image: linear-gradient(to right, rgb(0, 92, 230), rgb(26, 117, 255));
}

.javascript {
	color: yellow;
	background-color: black;
}

.java {
	background: #CF1313;
	background: -webkit-linear-gradient(to bottom, #CF1313 30%, #1578CF 80%);
	background: -moz-linear-gradient(to bottom, #CF1313 30%, #1578CF 80%);
	background: linear-gradient(to bottom, #CF1313 30%, #1578CF 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.sql {
	color: rgb(77, 219, 255);
}

.data-structures-algorithms {
	color: rgb(0, 153, 204);
}